<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contestant</title>
</head>
<body>
    
<form action="/contestant" method="POST" enctype="multipart/form-data">
    <input type="file" name="photo">

    <button type="submit">Add Contestant</button>

</form>
</body>
</html>