<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="container">
         <header class="header">
            <div class="right-header">
                <span class='FAQ'> FAQS</span>
    
                <div class="notification-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="notification" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"></path>
                    </svg>
                    <div class='notificaiton-count'>3</div>
                </div> 
    
                <div class="profile-wrapper">
                    <img class='profile-picture' src="../images/profile.png" alt="Profile"/>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="dropdown" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                      </svg>
                </div>
    
            </div>
         </header>


         <aside class="sidebar">
            <div class="upper-sidebar">
                <h1 class="logo-description">Elect<span>ion</span> up<span>date</span></h1>
            </div>

            <div class="sidebar-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="30" height="30" class="person-icon" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                </svg>
                <div>Dashboard</div>
            </div>

            <div class="sidebar-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="30" height="30" class="person-icon" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                </svg>
                <div>Dashboard</div>
            </div>

            <div class="sidebar-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="30" height="30" class="person-icon" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                </svg>
                <div>Dashboard</div>
            </div>

            <div class="sidebar-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="30" height="30" class="person-icon" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                </svg>
                <div>Dashboard</div>
            </div>

            <div class="sidebar-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="30" height="30" class="person-icon" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                </svg>
                <div>Dashboard</div>
            </div>

            <div class="sidebar-link">
                <div class="logout">Logout</div>
            </div>
            
         </aside>


         <main class="main-container">

             <section class='candidates'>
                 <div class="candidate-container">
                     <div class="profile-wrapper">
                         <img class="candidate" src={profilePicture} alt=" Candidate"/>
                     </div>
 
                    <div class="candidate-info">
                         <div class="name">Abraham Dukuly</div>
                         <div class="position">Community Chairman</div>
                    </div>
                 </div>
                 
                 <div class="candidate-container">
                     <div class="profile-wrapper">
                         <img class="candidate" src={userIcon} alt=" Candidate"/>
                     </div>
 
                    <div className="candidate-info">
                         <div className="name">James Doe</div>
                         <div className="position">General Secretary</div>
                    </div>
                 </div>
                 
                 <div className="candidate-container">
                     <div className="profile-wrapper">
                         <img className="candidate" src={profilePicture} alt=" Candidate"/>
                     </div>
 
                    <div className="candidate-info">
                         <div className="name">Joseph Boakai</div>
                         <div className="position">Speaker</div>
                    </div>
                 </div>
             </section>
 
             
             <section className='election-statistic'>section2</section>
 
             
             <section className='details'>section3</section>

    

            <section class="top-candidates">
                <div class="candidate-container">
                    <div class="candidate">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="candidate-icon" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                        </svg>
                    </div>
                    <div class="movie">eieiei</div>
                </div>
                
            </section>


         </main>

         <!-- <aside class="right-sidebar">
            Right Sidebar
         </aside> -->

    </div>
</body>
</html>
