<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

    <article class='candidates border'>
        <h2 class="title">Presidential Candidates</h2>
        
        <div class="candidate-container">
            <div class="wrapper">
                 <div class="candidate-profile-wrapper">
                     <img class="candidate" src="../images/profile-2.jpg" alt=" Candidate"/>
                 </div>
                 
                 <div class="info">
                    <div class="name">Abraham Dukuly</div>
                    <div class="position">Community Chairman</div>
                 </div>

                <div class="candidate-info">
                    <div class="party-name-wrapper">
                        <img class="logo" src="../background2.jpg" alt="Logo">
                    </div>

                    <div class="candidate-description">
                        <div class="party-name">Progress for Change</div>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                 <div class="candidate-profile-wrapper">
                     <img class="candidate" src="../images/profile-2.jpg" alt=" Candidate"/>
                 </div>
                 
                 <div class="info">
                    <div class="name">Abraham Dukuly</div>
                    <div class="position">Community Chairman</div>
                 </div>

                <div class="candidate-info">
                    <div class="party-name-wrapper">
                        <img class="logo" src="../background2.jpg" alt="Logo">
                    </div>

                    <div class="candidate-description">
                        <div class="party-name">Progress for Change</div>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                 <div class="candidate-profile-wrapper">
                     <img class="candidate" src="../images/profile-2.jpg" alt=" Candidate"/>
                 </div>
                 
                 <div class="info">
                    <div class="name">Abraham Dukuly</div>
                    <div class="position">Community Chairman</div>
                 </div>

                <div class="candidate-info">
                    <div class="party-name-wrapper">
                        <img class="logo" src="../background2.jpg" alt="Logo">
                    </div>

                    <div class="candidate-description">
                        <div class="party-name">Progress for Change</div>
                    </div>
                </div>
            </div>



        </div>

         
</article> 


<article class='candidates border'>
        <h2 class="title">Presidential Candidates</h2>
        
        <div class="candidate-container">
            <div class="wrapper">
                 <div class="candidate-profile-wrapper">
                     <img class="candidate" src="../images/profile-2.jpg" alt=" Candidate"/>
                 </div>
                 
                 <div class="info">
                    <div class="name">Abraham Dukuly</div>
                    <div class="position">Community Chairman</div>
                 </div>

                <div class="candidate-info">
                    <div class="party-name-wrapper">
                        <img class="logo" src="../background2.jpg" alt="Logo">
                    </div>

                    <div class="candidate-description">
                        <div class="party-name">Progress for Change</div>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                 <div class="candidate-profile-wrapper">
                     <img class="candidate" src="../images/profile-2.jpg" alt=" Candidate"/>
                 </div>
                 
                 <div class="info">
                    <div class="name">Abraham Dukuly</div>
                    <div class="position">Community Chairman</div>
                 </div>

                <div class="candidate-info">
                    <div class="party-name-wrapper">
                        <img class="logo" src="../background2.jpg" alt="Logo">
                    </div>

                    <div class="candidate-description">
                        <div class="party-name">Progress for Change</div>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                 <div class="candidate-profile-wrapper">
                     <img class="candidate" src="../images/profile-2.jpg" alt=" Candidate"/>
                 </div>
                 
                 <div class="info">
                    <div class="name">Abraham Dukuly</div>
                    <div class="position">Community Chairman</div>
                 </div>

                <div class="candidate-info">
                    <div class="party-name-wrapper">
                        <img class="logo" src="../background2.jpg" alt="Logo">
                    </div>

                    <div class="candidate-description">
                        <div class="party-name">Progress for Change</div>
                    </div>
                </div>
            </div>



        </div>

         
</article>

</div>
<%} else if(result=== 'voters') {%>
<article class="voters-container">

<div class="voter-status-btns">
    <button class="registered-voter-btn btn active" data-button="registered">Registered Voter</button>
    <button class="voter-status-btn btn" data-button="status">Voters Status</button>
</div>


<div class="status-flexbox">

    <div class="register-voter-wrapper">
      
        <section class="registered-voter">
            <div class="voters-wrapper">
                    <div class="voter-profile-container">
                        <img class="voter-picture" src="../images/profile.png" alt="">
                        <div class="alert-sign"></div>
                    </div>
    
                    <div class="voter-info">
                        <div class="voter-name">Jumah F. Kromah</div>
                        <div class="status">Status: <span>Registered</span></div>
                        <div class="role">Role: Admin</div>
                    </div>
            </div>
        </section>

        <section class="registered-voter" data-id="registered-voter">
            <div class="voters-wrapper">
                    <div class="voter-profile-container">
                        <img class="voter-picture" src="../images/profile.png" alt="">
                        <div class="alert-sign"></div>
                    </div>
    
                    <div class="voter-info">
                        <div class="voter-name">Jumah F. Kromah</div>
                        <div class="status">Status: <span>Registered</span></div>
                        <div class="role">Role: Admin</div>
                    </div>
            </div>
        </section>

        <section class="registered-voter">
            <div class="voters-wrapper">
                    <div class="voter-profile-container">
                        <img class="voter-picture" src="../images/profile.png" alt="">
                        <div class="alert-sign"></div>
                    </div>
    
                    <div class="voter-info">
                        <div class="voter-name">Jumah F. Kromah</div>
                        <div class="status">Status: <span>Registered</span></div>
                        <div class="role">Role: Admin</div>
                    </div>
            </div>
        </section>

    </div>

    <section class="voter-active-status">
        <div>No Result Now</div>
    </section>

</div>




</article>
}
    
</body>
</html>