<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <script src="../scripts/login.js" defer></script>
</head>
<body>

    <div class="container">
        <form action="login" method="post">
            <!-- <section class="left-login-container">
                <div class="site-logo">
                    <img class="logo" src="election-logo.png" alt="Alt">
                </div>
                
                <div class="site-name">
                    Liberia National Election commission
                </div>
    
                <div class="detail">
                    Enter your personal details and start journey with us
                </div>
    
                <button class="signup-btn">Sign Up</button>
    
            </section> -->
    
            <section class="right-login-container">
                <div class="login-info">
                    <h2 class="signin">Sign in to Abraham</h2>
                    
                    <div class="inputfield-wrapper">
                        <div class="email-container">
                            <input type="email or text" class="email-text" placeholder="Email" name="email">
    
                            <div class="email-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="email" viewBox="0 0 16 16">
                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"></path>
                                </svg>
                            </div>
                        </div>
        
                        <div class="password-container">
                            <input type="password" class="password" placeholder="Password" name="password">
    
                            <div class="password-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="lock-icon" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="forget-password-container">
                        <h5 class="forget-password">Forget your Password?</h5>
                    </div>
                    <button type ="submit" class="login-btn">Login</button>
                </div>
    
            </section>
    
        </form>

    </div>
</body>
</html>