<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter Registration</title>
    <link rel="stylesheet" href="voter-registration.css">
</head>
<body>
    <form action="voter-registration" id="form" method="POST" enctype="multipart/form-data">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="first_name" ><br><br>

        <label for="mname">Middle Name:</label>
        <input type="text" id="mname" name="middle_name"><br><br>

        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="last_name"><br><br>

        <label for="DOB">Date of Birth:</label>
        <input type="date" id="DOB" name="DOB"><br><br>

        <label for="Username">Email:</label>
        <input type="text" id="email" name="email"><br><br>

        <label for="username">username:</label>
        <input type="text" id="username" name="username" placeholder="username"><br><br>

        <div class="password-container">
            <label for="password">Password:</label>
            <div class="input-wrapper">
                <input type="password" id="password" name="password"><br><br>
                <div class="password-icon">
                    <button class="eye-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="eyeslash" viewBox="0 0 16 16">
                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"></path>
                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"></path>
                            <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"></path>
                        </svg>
        
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"></path>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"></path>
                        </svg>
                    </button>
                   
                </div>
            </div>

        </div>

        <label for="file">Upload Photo:</label>
        <div class="upload-box">

        </div>
        <input type="file" id="file" name="file" hidden required><br><br>


        <button type="submit" class="registration-btn">Register</button>
    </form>

    <script>
        let eyeBtn = document.querySelector('.eye-btn');
        let passwordContainer = document.querySelector('.password-container');
        const input =  document.querySelector('input');
        const uploadBox = document.querySelector('.upload-box');
        const form = document.getElementById('form');


        form.addEventListener('click', ()=>{
            input.value = ''
        })
        
        
        uploadBox.addEventListener('click',()=>{
            const uploadInput = document.getElementById('file');

            uploadInput.click();

            uploadInput.addEventListener('change', ()=>{
                let file = uploadInput.files[0];

                const fileReader = new FileReader(file);
                

                fileReader.onload=(e)=>{
                    let elem = e.target.result;
                    console.log(elem);
                    
                    let img = document.createElement('img');
                    img.src = elem;
                    img.style.width = '150px';
                    img.style.height= '150px'
                    uploadBox.innerHTML = '';
                    uploadBox.appendChild(img);
                }
                fileReader.readAsDataURL(file);
            })
        });
        


        eyeBtn.addEventListener('click', (e)=>{
            e.preventDefault()
            if (password.type === 'password') {
                password.type = 'text'
                passwordContainer.classList.add('show')
            } else {
                password.type = 'password'
                passwordContainer.classList.remove('show')
            }
        })
    </script>
</body>
</html>